<!DOCTYPE html>

<html>

<head>
    <title>Search</title>
</head>

<body>

Search: <input type="text" id="search_form_input"></input>

<div id="search_id"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$("#search_form_input").keyup(function(){
    var text = $(this).val();

    $.ajax({
      url: "/search",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#search_id").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>

</body>

</html>
{% extends "base.html" %}
{% block content %}
<header>
Results of your search:
</header>
<!--{{results.Search}}-->
<table>
{% for result in results.Search %}
<tr>
    <td>
        {{ result.Title }}
        ({{ result.Year }})
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}